@import url('https://fonts.googleapis.com/css?family=Jolly+Lodger&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {

    /* fallback */
    background-image: url("../assets/background.jpg");

    background-image: url("../assets/background.jpg"),
        -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(38, 38, 38, 1) 100%);
    background-size: cover;
}

.container {
    width: 900px;
    background-color: #262626;
}

.photo {
    background-image: url("../assets/carousel-stage.jpg");
    background-color: #cccccc;

    height: 260px;
    background-repeat: no-repeat;
    background-size: cover;

}

#summary,
#info {
    color: white;
    background-color: #262626;
    padding: 57px;
}

#counter {
    color: white;
    background-color: #262626;
    padding: 57px;
    font-family: 'Jolly Lodger', cursive;
}


#button-1 {
    background-image: url("../assets/button.jpg");
    position: relative;
    left: -421px;
    background-repeat: no-repeat;
    width: 58px;
    height: 260px;
    background-size: cover;
}

#button-2 {
    background-image: url("../assets/button.jpg");
    position: relative;
    left: 421px;
    top: -260px;
    background-repeat: no-repeat;
    width: 58px;
    height: 260px;
    background-size: cover;
    transform: rotate(180deg);
}

.photo-btns {
    cursor: pointer;
}

#contact-form {
    margin-top: 56px;
}

.tabs {
    font-family: 'Nunito', sans-serif;
}

.tab-nav {
    padding-top: 50px;
}

#counter {
    display: flex;
}

#counter p {
    font-size: 60px;
    text-align: center;
}

.how-many {
    width: 50%;
    background-color: #525151;
    margin: 6px;
}

.btn-menu {
    padding-left: 58px;
}

#line-up {
    padding: 57px;
}