* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(38, 38, 38, 1) 100%);
}

.container {
    width: 900px;
    background-color: #000;
}

.photo {
    background-image: url("../assets/carousel-stage.jpg");
    background-color: #cccccc;

    height: 260px;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#summary,
#info {
    color: white;
    background-color: #262626;
    padding: 57px;
}

#button-1 {
    background-image: url("../assets/button.jpg");
    position: relative;
    left: -421px;
    background-repeat: no-repeat;
    width: 58px;
    height: 260px;
    background-size: cover;
}

#button-2 {
    background-image: url("../assets/button.jpg");
    position: relative;
    left: 421px;
    top: -260px;
    background-repeat: no-repeat;
    width: 58px;
    height: 260px;
    background-size: cover;
    transform: rotate(180deg);
}

h1 {
    padding-top: 50px;
    padding-bottom: 50px;
}

h2 {
    padding-top: 50px;
    padding-bottom: 30px;
}